.Content {
  text-align: center;
  justify-content: right;
  background-color: rgb(99, 184, 203);
  min-height: 100vh;
}

.Root {
  background-color: rgb(99, 184, 203);
  min-height: 100vh;
  background-size: cover;
  text-align: center;

}

.footer {
  flex-shrink: 0;
  text-align: center;
  background-color: tomato;
  color: white;
}

.text {
  font-size: 24px;
}

.spacer {
  width: 20px;
}

.row {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
  padding-left: 20px;
  padding-right: 20px;
}